<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head th:replace="etc/elements :: head"/>
<body>
    <div id="wrapper">
		<nav th:replace="etc/navbar :: navbar"></nav>
		<div th:replace="etc/sidebar :: sidebar"/>
	
		<div id="page-wrapper">
			<div class="row">
				<div class="col-lg-12">
					<h1 class="page-header">Welcome!</h1>
					
					<div th:if="${param.error}">
			            Invalid username and password.
			        </div>
			        <div th:if="${param.logout}">
			            You have been logged out.
			        </div>
			        
			        <form th:action="@{/login}" method="post">
			            <div><label> User Name : <input type="text" name="username"/> </label></div>
			            <div><label> Password: <input type="password" name="password"/> </label></div>
			            <div><input type="submit" value="Sign In"/></div>
			        </form>
				</div>
			</div>
		</div>
	</div>
	
	<div th:replace="etc/elements :: scripts"/>
</body>
</html>
